body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: #c7b8b8;
      border:solid 1px;
  }
  
  #Mi_Curriculum_Vitae {
      border: solid 1px #cccccc;
      padding: 20px;
      margin: 0 auto;
      width: 85%;
      background: #82baf9;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
      text-align: center;
      color: #333;
  }
  p, ul, ol {
      color: #555;
  }
  
  fieldset {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
  }
  
  legend {
      border: solid ipx #680e59;
      font-weight: bold;
      padding: 5px;
      background:#c7b8b8 ;
      border-radius:15px ;
  }
  
  .footer {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
      margin-top: 20px;
      border-radius: 5px;
  }
  .footer a {
      color: #82baf9;
      text-decoration: none;
  }
  
  .footer a:hover {
      text-decoration: underline;
  }
  
  .social-link a {
      margin: 0 10px;
      color: white;
      font-size: 20px;
  }
  
  .social-link a:hover {
      color: #82baf9;
  }    